p {
    color:blue;
}

h1 {
    color: blueviolet;
}


/* Nu har vi targetad en class med en "." innan classnamnet */
.red {
    color: green;
    font-weight: bold;
}


/* targeta en id */
#username {
    border: 2px solid black    
}

@media (max-width: 600px){
    #username {
        border: 4px solid black    
    }

}
